.DS_Store
*.zip
*.py
*.gz
*.tar
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
2024-09-26/01-pienso-numero/jugador
2024-09-26/01-pienso-numero/pienso
2024-09-26/02-peaje/autos
2024-09-26/02-peaje/peaje
2024-09-26/code/lectura
2024-09-26/code/escritura
2024-09-26/03-colchonera/colchonera
2024-09-26/03-colchonera/vendedor
2024-10-03/tp_banco_cajero/banco
2024-10-03/tp_banco_cajero/cajero
2024-10-10/ejemplo_threads/main
